# Coverage.py configuration for Hazelcast Python Client
# https://coverage.readthedocs.io/en/latest/config.html

[run]
source = hazelcast
branch = True
parallel = True
omit =
    hazelcast/__init__.py
    */tests/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError
    raise AssertionError
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    @abstractmethod
    @abc.abstractmethod
    pass

fail_under = 95
show_missing = True
precision = 2

[html]
directory = htmlcov
title = Hazelcast Python Client Coverage Report

[xml]
output = coverage.xml

[json]
output = coverage.json
pretty_print = True
